<p>List page</p>
<div class="aaa">最大標題</div>
<h2 class="mat-headline-2">最大標題</h2>
<div class="mat-display-4">特大文字</div>
<button matButton="elevated">Basic</button>
<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
@if(isLoading){
<div class="">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z3 my__TTTable">
    <ng-container matColumnDef="event_type">
      <th mat-header-cell *matHeaderCellDef>Event Type</th>
      <td mat-cell *matCellDef="let e"> {{e.event_type}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let e"> {{e.name}} </td>
    </ng-container>
    <ng-container matColumnDef="session_type">
      <th mat-header-cell *matHeaderCellDef>Session Type</th>
      <td mat-cell *matCellDef="let e"> {{e.type}} </td>
    </ng-container>
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef>Month</th>
      <td mat-cell *matCellDef="let e"> {{e.year_month}} </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Image</th>
      <td mat-cell *matCellDef="let e">
        <img [src]="e.image" alt="Image" width="50" />
      </td>
    </ng-container>
    <ng-container matColumnDef="publish">
      <th mat-header-cell *matHeaderCellDef>Publish</th>
      <td mat-cell *matCellDef="let e"> {{ e.publish ? 'Yes' : 'No' }} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let e"> 嘿嘿嘿</td>
    </ng-container>
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef>Order</th>
      <td mat-cell *matCellDef="let e"> {{e.sort_order}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
}
