.container{
  min-width: 100%;
}
.aaa {
  font: var(--mat-sys-display-small);
  letter-spacing: var(--mat-sys-display-small-tracking);
}
.xxxx_myTable {
  min-width: 100%;
}
.xxxx_myTable ::ng-deep tr > td {
  padding: 4px;
}