<div class="listContainer mx-2 px-2 pt-2">
  <div class="flex justify-between">
    <div class="text-3xl font-bold">Event List</div>
    <div>
      <p-button icon="pi pi-angle-left" [rounded]="true" severity="help" (onClick)="goPreviousMonth()" [outlined]="true"  class="mr-2"/>
      <p-select [(ngModel)]="selected_year" [options]="year_list()" (onChange)="changeYear($event)" class="mr-2"></p-select>
      <p-select [(ngModel)]="selected_month" [options]="[01,02,03,04,05,06,07,08,09,10,11,12]" (onChange)="changeMonth($event)"></p-select>
      <p-button icon="pi pi-angle-right" [rounded]="true" severity="help" [outlined]="true" (onClick)="goNextMonth()"  class="ml-2" />
    </div>
  </div>


  <p-table [value]="sessionList()" [tableStyle]="{ 'min-width': '50rem' }" class="shadow-lg" [loading]="isLoading()" class="xxxx_myTable" [rowHover]="true" responsiveLayout="stack" breakpoint="570px">
    <ng-template #header>
      <tr>
        <th>Event Type</th>
        <th>Name</th>
        <th>Session Type</th>
        <th style=" min-width: 100px;">Month</th>
        <th>Image</th>
        <th>publish</th>
        <th style="text-align: center; min-width: 100px;">action</th>
        <th>Order</th>
      </tr>
    </ng-template>
    <ng-template #body let-ses>
      <tr>
          <td>  
            @if (ses.event_type === 'session'){
              <p-tag value="Session" icon="pi pi-user" severity="info"/>
            } @else {
              <p-tag value="Theater" icon="pi pi-users" severity="warn" />
            }
          </td>
          <td>{{ ses.name }}</td>
          <td>{{ ses.type }}</td>
          <td>{{ ses.year_month }}</td>
          <td>
            <p-image [src]="`https://api.funplanet.tw/upload/`+ses.image" width="35"></p-image>
          </td>
          <td>
            @if (ses.publish === 1){
              Show
            } @else {
              <i class="pi pi-eye-slash" style="color: red"></i>
              Hide
            }
          </td>
          <td>
            <a [routerLink]="['/sessionDetail', ses.s_or_t_id]" pButton text severity="info" styleClass="!text-blue-500 hover:!text-blue-900" >
              <span pButtonLabel>Info</span>
            </a>
            <p-button label="Edit" variant="text" severity="warn" />
            <p-button label="Delete" variant="text" severity="danger" />
          </td>
          <td>{{ ses.sort_order }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>




