.my_toolbar{
    
    background-color: var(--myPurple);
    box-shadow: var(--mat-sys-level3);
    color: white;
}
.mdc-icon-button{
    color: white;
}
.my_main{
    min-height: calc(100vh - 64px); 
}