  <div class="loginContainer">
    <mat-card class="login-card" appearance="outlined">
        <div class="title" >Enter Code</div>
        <mat-form-field appearance="outline">
        <input matInput #passwordInput type="text" [(ngModel)]="password" (keydown.enter)="login()"  />
        </mat-form-field>
        <mat-card-actions style="justify-content: center;">
            <button (click)="login()" matButton="filled" [disabled]="isLoading">
              @if (isLoading) {
                <mat-spinner diameter="27" class="whiteSpinner"></mat-spinner>
              } @else {
                Login
              }
              </button>
        </mat-card-actions>
        @if (errorMsg) {
        <div style="color: #b00020; margin: 8px 0; text-align:center;">
          {{ errorMsg }}
        </div> }
    </mat-card>
  </div>
