  <div class="loginContainer">
    <p-card class="login-card">
      <ng-template #header>
        <div class="title text-3xl">Enter Code</div>
      </ng-template>

      <ng-template #content>
        <p-floatlabel>
          <p-password 
            #passwordInput
            id="password"
            [feedback]="false"
            [(ngModel)]="password"
            [toggleMask]="true"
            (keydown.enter)="login()"
            [disabled]="isLoading()"
            class="w-full"
            size="large"
          />
          <label for="password">password</label>
        </p-floatlabel>
      </ng-template>
      <ng-template #footer>
        <div class="flex justify-center w-full mt-3">
          <p-button label="Login" (onClick)="login()" [disabled]="isLoading()" [loading]="isLoading()" severity="help"  styleClass="!bg-purple-800"></p-button>
        </div>
        <div class="text-red-600 mt-3 text-center">
          {{ errorMsg() }}
        </div>
      </ng-template>

    </p-card>


  </div>
