
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "tailwindcss";
@import "primeicons/primeicons.css";
@import 'notyf/notyf.min.css';
:root {
  --myPurple: #673ab7;
}

html, body { 
  height: 100%; 
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
